<% provide(:title, 'Create Mission') %>
<h1>Create Mission</h1>

<div class="row">
  <div class="span6 offset3"> 
    <%= form_for(@mission_template) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.submit "Create Mission", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
