<% provide(:title, @mission_template.title) %>
<h1><%= @mission_template.title %></h1>

<ul class="thumbnails center">
 	<li class="">
    	<a href="#" class="thumbnail">
      		<%= image_tag @mission_template.image %>
    	</a>
    	<h3 class="center thumbnail">
			<%= @mission_template.title %>
		</h3>
		<hr>
		<%= @mission_template.description %>
		<hr>
		<div class="btn-group center">
  			<button class="btn btn-primary btn-large">
  				<%= link_to "Play", event_template_path(@first_event)%>
  			</button>
  			<button class="btn btn-inverse btn-large">
  				<%= link_to "Back", mission_templates_path%>
  			</button>
		</div>
	<li>

</ul>

<!--
<table class = "table-striped table-bordered">
	<tr><th>Title</th><th>Description</th></tr>
<% @events.each do |x|%>
<tr><td><%=x.title%></td><td><%=x.description%></td></tr>
	<%end%>
</table>
-->


<div class="row">
	<div class="span2 offset5">
		
	</div>
</div>



