<% provide(:title, @mission_template.title) %>
<h1><%= @mission_template.title %></h1>

<h3>
<%= @mission_template.title %>
</h3>

<p>
<%= @mission_template.description %>
</p>

<table class = "table-striped table-bordered">
	<tr><th>Title</th><th>Description</th></tr>
<% @events.each do |x|%>
<tr><td><%=x.title%></td><td><%=x.description%></td></tr>
	<%end%>
</table>

<div class = "row">
	<div class="span8 offset2">
	</div>
</div>
<div class="row">
	<div class="span2 offset5">
		<%= link_to "Play", event_template_path(@first_event), class: "btn btn-large btn-primary"%>
	</div>
</div>



