<% provide(:title, "Sign in") %>

	<%= form_for(:session, url: sessions_path) do |f| %>

        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <%= f.label :email %>
    		  	<%= f.text_field :email, placeholder:"Enter email" %>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <%= f.label :password %>
      			<%= f.password_field :password, placeholder:"Enter password" %>
            </fieldset>
        </div>
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    	<% end %>
         <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>



