<% provide(:title, @event.title) %>
<h1><%= @event.mission_template.title %></h1>

<h3>
<%= @event.title %>
</h3>

<p>
<%= @event.description %>
</p>


<div class = "row">
	<div class="span8 offset2">
	</div>
</div>
<div class="row">
	<div class="span2 offset5">
		<% if @next_event==nil %>
			<%= link_to "Mission Select", mission_templates_path, class: "btn btn-large btn-primary"%>
		<% else %> 
			<%= link_to "Play", event_template_path(@next_event), class: "btn btn-large btn-primary"%>
		<%end%>
	</div>
</div>