<% provide(:title, 'Sign up') %>
      <%= render 'shared/error_messages' %>

    <%= form_for(@user) do |f| %>

      <h3>
            Enroll Now
      </h3>
            <div data-role="fieldcontain">
                  <fieldset data-role="controlgroup">
                        <%= f.label :name %>
                        <%= f.text_field :name, placeholder:"Enter name" %>
                  </fieldset>
              </div>
              <div data-role="fieldcontain">
                  <fieldset data-role="controlgroup">
                        <%= f.label :email %>
                        <%= f.text_field :email, placeholder: "Enter email" %>
                  </fieldset>
              </div>
              <div data-role="fieldcontain">
                  <fieldset data-role="controlgroup">
                        <%= f.label :password %>
                        <%= f.password_field :password, placeholder: "Enter password" %>
                  </fieldset>
              </div>
              <div data-role="fieldcontain">
                  <fieldset data-role="controlgroup">
                        <%= f.label :password_confirmation, "Confirm password" %>
                        <%= f.password_field :password_confirmation, placeholder: "Re-enter password" %>
                  </fieldset>
              </div>
            <%= f.submit "Become a Member", class: "btn btn-large btn-primary" %>     
            <% end %>    
            </div>
      </div>
     
