<% provide(:title, "Game "+@game.id.to_s) %>
Game status: <%= @game.state %><br/>
Players in this game:
<% @game.players.each do |player| %>
<%= player.user.name %>, 
<% end %>
<br/>


<div data-role="navbar" data-iconpos="top" data-theme="a">
    <ul>
    	<% if @in_game %>
        <li>
            <a href="<%=start_game_path(@game) %>" data-theme="" data-icon="home">
                Start Game
            </a>
        </li>
        <li>
            <a href="<%=leave_game_path(@game)%>" data-theme="" data-icon="back">
                Leave Game
            </a>
        </li>
        <% else %>
        <li>
            <a href="<%=join_game_path(@game) %>" data-theme="" data-icon="star">
                Join Game
            </a>
        </li>
        <% end %>
        <li>
            <a href="<%=games_path %>" data-theme="" data-icon="grid">
                Games
            </a>
        </li>
    </ul>
</div>